<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word guessing race</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    {{template "header.html"}}
    <div class="card has-text-centered" id="game">
        <div class="field">
            <h2 class="label is-large" id="word"></h2>
            <div class="control">
                <input class="input is-primary" type="text" id="guess" placeholder="Correct guesses auto-submit">
            </div>
        </div>
    </div>
    <div class="card">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </tfoot>
            <tbody id="scoreboard"></tbody>
        </table>
    </div>

    <script>
        // passed to page with server templating engine
        const username = "{{.Username}}";
        const url = "{{.URL}}";

        // list of words passed to page with server templating engine
        // then converted to json object/array
        const words = JSON.parse('{{.WordList}}');
        const totalWords = words.length;
        let wordIndex = parseInt("{{.Score}}", 10);

        // set initial word on page load
        let currentWord = document.getElementById("word")
        currentWord.innerText = words[wordIndex][0] + " _ " + words[wordIndex][2] + " _ " + words[wordIndex][4];

        // check guess on input change
        const guessBox = document.getElementById("guess");
        guessBox.addEventListener("keyup", e => {
            checkGuess(guessBox.value);
            console.log(guessBox.value);
        })

        // update scoreboard every X period of time
        let scoreRefresh = setInterval(() => {
            getScoreboardJSON().then(res => {
                // remove old scoreboard and replace with updated one
                removeChildren(document.getElementById("scoreboard"));
                addScoreboardRows(res);

                // check if there's a winner
                checkWinner(res);
            })
        }, 2000);

        // return promise that will resolve to json data
        function getScoreboardJSON() {
            return fetch("http://" + url + "/score", {
                method: "GET",
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                },
            }).then(res => res.json())
            .catch(e => console.log("Error: ", e));
        }

        // take json data and add rows to scoreboard table
        function addScoreboardRows(json) {
            const scores = JSON.parse(json);
            for (const score of scores) {
                addScoreboardRow(score);
            }
        }

        function addScoreboardRow(row) {
            // get constants to append together
            const sb = document.getElementById("scoreboard");
            const newRow = document.createElement("tr");

            // create new table row and set data
            const name = document.createElement("td")
            name.innerText = row.name;
            newRow.appendChild(name);
            const score = document.createElement("td");
            score.innerText = row.score;
            newRow.appendChild(name);
            newRow.appendChild(score);

            // append new row to parent table element
            sb.appendChild(newRow);
        }

        // iterate through child elements of node and remove all but first
        function removeChildren(element) {
            while (element.childElementCount > 0) {
                element.removeChild(element.lastElementChild);
            }
        }

        function checkWinner(json) {
            // iterate through all users and check for winner
            for (user of JSON.parse(json)) {
                if (user.score == totalWords) {
                    // stop pinging server for score data
                    clearInterval(scoreRefresh);
                    
                    // display winner
                    displayWinner(user.name);
                }
            }
        }

        function displayWinner(winnerName) {
            // remove game elements
            removeChildren(document.getElementById("game"));

            // add winner elements
            const banner = document.createElement("h2");
            banner.innerText = winnerName + " won!";
            banner.className = "title is-large";

            game.appendChild(banner);
        }

        function checkGuess(guess) {
            if (guess == words[wordIndex]) {
                // update to new word
                wordIndex++;
                currentWord.innerText = words[wordIndex] != null ? words[wordIndex][0] + " _ " + words[wordIndex][2] + " _ " + words[wordIndex][4] : "No more words";
                guessBox.value = "";

                // post completion status back to server to update score
                updateScore();
            }
        }

        // post username as json to api endpoint to register completed word
        function updateScore() {
            fetch("http://" + url + "/score", {
                method: "POST",
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                },
                body: JSON.stringify({
                    name: username,
                })
            }).catch(e => console.error("Error: ", e));
        }
    </script>
</body>
</html>
