<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word guessing race</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    {{template "header.html"}}
    <div id="game">
        <h2 id="word"></h2>
        <input type="text" id="guess">
    </div>
    <table id="scoreboard">
        <tr>
            <th>Username</th>
            <th>Score</th>
        </tr>
    </table>

    <script>
        // passed to page with server templating engine
        const username = "{{.Username}}";
        const url = "{{.URL}}";

        // list of words passed to page with server templating engine
        // then converted to json object/array
        const words = JSON.parse('{{.WordList}}');
        const totalWords = words.length;
        let wordIndex = parseInt("{{.Score}}", 10);
    </script>
    <script src="/assets/main.js"></script>
</body>
</html>
