<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Word Guessing Race</h1>
    <h2 id="word"></h2>
    <input type="text" id="guess">

    <script>
        const words = JSON.parse({{.WordList}});
        let wordIndex = 0;

        let currentWord = document.getElementById("word")
        currentWord.innerText = words[wordIndex];

        const guessBox = document.getElementById("guess");
        guessBox.addEventListener("keypress", (e) => {
            checkGuess(guessBox.value);
        })

        function checkGuess(guess) {
            if (guess == words[wordIndex]) {
                wordIndex++;
                currentWord.innerText = words[wordIndex];
                guessBox.value = "";
            }
        }
    </script>
</body>
</html>
